.carousel {
    overflow: hidden;
    max-width: 600px;
    position: relative;
}

.carousel .carousel_item,.carousel .caurosel_item_hidden {
    display: none;
}

.carousel .carousel_item img {
    max-width: 600px;
    width: 100%;
    height: auto;
}
.carousel .carousel_item_visible {
    display: block;
    animation: fadeVisibility 0.5s;
}
.carousel .carousel_actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}
.carousel .carousel_actions button {
    border-radius: 50px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.carousel .carousel_actions button#carousel_button_prev {
margin-left: 20px;
}


.carousel .carousel_actions button#carousel_button_next {
    margin-right: 20px;
}

@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: opacity linear;
    }
}